<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="spacer-small"></div>
      <div class="logo">
        <%= link_to image_tag("Shakin8logo500x222.png", alt: "Shakin8 main logo image link to home", size: "339x149"), root_path %>
        <p id="coming-soon">
          APPLICATION AND WEBSITE DESIGN</br></br>
          ROYALTY MANSIONS</br>
          MEARD STREET</br>
          LONDON</br></br>
          07922192399
        </p>
      </div>
    <div class="container">
      <div class="header">

      </div>
    </div>
    <%= render 'layouts/analytics' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>