<div class="background-image">  
  <div class="container">
    <div class="spacer">
    </div>
    <div class="pull-right">
      <div id="pad-right">
	    <h1>LONDON WEB DESIGN</h1>
	    <div id="left-border">
		  <p>At Shakin'8 we design, develop and market websites and web applications. </p>
		  <p>Call us now to discuss your project: <strong>07922192399</strong><p>
		</div>
	  </div>
    </div>
  </div>
</div>

<div class="mid-section"></div>

<div class="tiled-image">
	<div class="container">
		<div class="home-infographic">
		  <div class="home-column">
		  	<%= image_tag("home/vintagebanner345x80.png", alt: "Decorative vintage banner", size: "345x80") %>
		  	<h1>WHERE TO START?</h1>
		  	<p>
		  		<strong>Creation</strong> of something great takes planning. Careful planning.
		  	</p>
		  	<p>
		  		<strong>A clear view</strong> of how, what and why is needed to drive successful web campaigns and get your vision and services from your mind, to the page, to the thoughts and actions of your target audience.
		  	</p>
		  	<p class="speech" id="plan"><strong>How can I make sure I am effectively planning to produce a great website?</strong></p>
		  </div>
		  <div class="home-centre-column" id="plan-image">
		  	<%= image_tag("home/plan135x135.png", alt: "Planning image - coffee", size: "135x135") %>
		  	<h3>#1/.</h3><h1>PLAN</h1>
		  </div>		
          <div class="home-column">
		  	<%= image_tag("home/vintagebanner345x80.png", alt: "Decorative vintage banner", size: "345x80") %>
		  	<h1>HELP IS HERE</h1>
		  	<p>
		  		At Shakin'8 we can help you determine exactly what your end result should be and put a clear roadmap in place. We work with you all the way:</br>
		  	</p>
		  	<ul>
		  		<li><strong>Face to face</strong> sessions to make sure we are working on the same wavelength.</li>
		  		<li><strong>Clearly understand</strong> the vision of what you want from you web application.</li>
		  		<li><strong>Aligning the ideas</strong> with the marketing and branding strategy. Don't have a brand or marketing strategy yet? Don't worry, we can help with that too.</li>
		  		<li><strong>Site map creation</strong> to get us on the road to developing some initial designs.</li>
		  	</ul>
		  </div>
		  <div class="home-column" id="border-bottom"></div>
		  <div class="chevron">
            <%= image_tag("home/chevron115x60.png", alt: "Chevron ifographic splitter", size: "115x60") %>

		  </div>
		  <div class="home-column" id="border-bottom"></div>
          <div class="more"><%= link_to image_tag("home/more.png", alt: "read on image", size: "180x30", id:"more"), "#" %></div>

		  <div class="home-column">
		  	<h1>WHERE TO START?</h1>
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. 
		  	</p>
		  </div>
		  <div class="home-centre-column">
		  	<%= image_tag("home/design135x135.png", alt: "design image - pencil", size: "135x135") %>
		  	<h3>#2/.</h3><h1>DESIGN</h1>
		  </div>		
          <div class="home-column">
          	<h1>WHERE TO START?</h1>
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit 
		  	</p>
		  </div>
		  <div class="home-column" id="border-bottom"></div>
		  <div class="chevron">
            <%= image_tag("home/chevron115x60.png", alt: "Chevron ifographic splitter", size: "115x60") %>
		  </div>
		  <div class="home-column" id="border-bottom"></div>
          <div class="more"><%= link_to image_tag("home/more.png", alt: "read on image", size: "180x30", id:"more"), "#" %></div>

		  <div class="home-column">
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. 
		  	</p>
		  </div>
		  <div class="home-centre-column">
		  	<%= image_tag("home/develop135x135.png", alt: "develop image - html", size: "135x135") %>
		  	<h3>#3/.</h3><h1>DEVELOP</h1>
		  </div>		
          <div class="home-column">
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit 
		  	</p>
		  </div>
		  <div class="home-column" id="border-bottom"></div>
		  <div class="chevron">
            <%= image_tag("home/chevron115x60.png", alt: "Chevron ifographic splitter", size: "115x60") %>
		  </div>
		  <div class="home-column" id="border-bottom"></div>
          <div class="more"><%= link_to image_tag("home/more.png", alt: "read on image", size: "180x30", id:"more"), "#" %></div>

		  <div class="home-column">
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. 
		  	</p>
		  </div>
		  <div class="home-centre-column">
		  	<%= image_tag("home/launch135x135.png", alt: "launch image - rocket", size: "135x135") %>
		  	<h3>#4/.</h3><h1>LAUNCH</h1>
		  </div>		
          <div class="home-column">
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit 
		  	</p>
		  </div>
		  <div class="home-column" id="border-bottom"></div>
		  <div class="chevron">
            <%= image_tag("home/chevron115x60.png", alt: "Chevron ifographic splitter", size: "115x60") %>
		  </div>
		  <div class="home-column" id="border-bottom"></div>
		  <div class="more"><%= link_to image_tag("home/more.png", alt: "read on image", size: "180x30", id:"more"), "#" %></div>

		  <div class="home-column">
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. 
		  	</p>
		  </div>
		  <div class="home-centre-column">
		  	<%= image_tag("home/market135x135.png", alt: "market image - graph/chart", size: "135x135") %>
		  	<h3>#5/.</h3><h1>MARKET</h1>
		  </div>		
          <div class="home-column">
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit 
		  	</p>
		  </div>
		</div>
	</div>
</div>