<div class="background-image">  
  <div class="container">
    <div class="spacer">
    </div>
    <h1>THE</h1><h1>IDEAS</h1><h1>FACTORY</h1>
  </div>
</div>

<div class="mid-section">
</div>

<div class="tiled-image">
	<div class="container">
		<div class="home-infographic">
		  <div class="home-column">
		  	<%= image_tag("home/vintagebanner345x80.png", alt: "Decorative vintage banner", size: "345x80") %>
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. 
		  	</p>
		  </div>
		  <div class="home-centre-column" id="plan-image">
		  	<%= image_tag("home/plan135x135.png", alt: "Planning image - coffee", size: "135x135") %>
		  	<h3>#1/.</h3><h1>PLAN</h1>
		  </div>		
          <div class="home-column">
		  	<%= image_tag("home/vintagebanner345x80.png", alt: "Decorative vintage banner", size: "345x80") %>
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. 
		  	</p>
		  </div>
		  <div class="home-column" id="border-bottom"></div>
		  <div class="chevron">
            <%= image_tag("home/chevron115x60.png", alt: "Chevron ifographic splitter", size: "115x60") %>
		  </div>
		  <div class="home-column" id="border-bottom"></div>

		  <div class="home-column">
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. 
		  	</p>
		  </div>
		  <div class="home-centre-column">
		  	<%= image_tag("home/design135x135.png", alt: "design image - pencil", size: "135x135") %>
		  	<h3>#2/.</h3><h1>DESIGN</h1>
		  </div>		
          <div class="home-column">
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit 
		  	</p>
		  </div>
		  <div class="home-column" id="border-bottom"></div>
		  <div class="chevron">
            <%= image_tag("home/chevron115x60.png", alt: "Chevron ifographic splitter", size: "115x60") %>
		  </div>
		  <div class="home-column" id="border-bottom"></div>

		  <div class="home-column">
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. 
		  	</p>
		  </div>
		  <div class="home-centre-column">
		  	<%= image_tag("home/develop135x135.png", alt: "develop image - html", size: "135x135") %>
		  	<h3>#3/.</h3><h1>DEVELOP</h1>
		  </div>		
          <div class="home-column">
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit 
		  	</p>
		  </div>
		  <div class="home-column" id="border-bottom"></div>
		  <div class="chevron">
            <%= image_tag("home/chevron115x60.png", alt: "Chevron ifographic splitter", size: "115x60") %>
		  </div>
		  <div class="home-column" id="border-bottom"></div>

		  <div class="home-column">
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. 
		  	</p>
		  </div>
		  <div class="home-centre-column">
		  	<%= image_tag("home/launch135x135.png", alt: "launch image - rocket", size: "135x135") %>
		  	<h3>#4/.</h3><h1>LAUNCH</h1>
		  </div>		
          <div class="home-column">
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit 
		  	</p>
		  </div>
		  <div class="home-column" id="border-bottom"></div>
		  <div class="chevron">
            <%= image_tag("home/chevron115x60.png", alt: "Chevron ifographic splitter", size: "115x60") %>
		  </div>
		  <div class="home-column" id="border-bottom"></div>

		  <div class="home-column">
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. 
		  	</p>
		  </div>
		  <div class="home-centre-column">
		  	<%= image_tag("home/market135x135.png", alt: "market image - graph/chart", size: "135x135") %>
		  	<h3>#5/.</h3><h1>MARKET</h1>
		  </div>		
          <div class="home-column">
		  	<p>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit 
		  	</p>
		  </div>
		</div>
	</div>
</div>