<% provide(:title, 'Portfolio') %>
<div class="tiled-image">
  <div class="container">
    <div class="portfolio-main">

	  <div class="box" onclick="location.href='http://www.callawaykitchens.com/';" style="cursor: pointer;">
		<%= image_tag("portfolio/sarlekshome.jpg") %><br/>
		<span class="caption scale-caption">  
		  <h3>Callaway Kitchens</h3>  
		  <p>
		    Click here to view the case study.
		  </p> 
		</span>
	  </div>

	  <div class="box" onclick="location.href='http://www.callawaykitchens.com/';" style="cursor: pointer;">
		<%= image_tag("portfolio/callawayhomethumb.jpg") %><br/>
		<span class="caption scale-caption">  
		  <h3>Callaway Kitchens</h3>  
		  <p>
		    Click here to view the case study.
		  </p> 
		</span>
	  </div>

	  <div class="box" onclick="location.href='http://www.callawaykitchens.com/';" style="cursor: pointer;">
		<%= image_tag("portfolio/alpinehomethumb.jpg") %><br/>
		<span class="caption scale-caption">  
		  <h3>Callaway Kitchens</h3>  
		  <p>
		    Click here to view the case study.
		  </p> 
		</span>
	  </div>

	  <div class="box" onclick="location.href='http://www.callawaykitchens.com/';" style="cursor: pointer;">
		<%= image_tag("portfolio/dkihomethumb.jpg") %><br/>
		<span class="caption scale-caption">  
		  <h3>Callaway Kitchens</h3>  
		  <p>
		    Click here to view the case study.
		  </p> 
		</span>
	  </div>	

	  <div class="box" onclick="location.href='http://www.callawaykitchens.com/';" style="cursor: pointer;">
		<%= image_tag("portfolio/campusboardinghomethumb.jpg") %><br/>
		<span class="caption scale-caption">  
		  <h3>Callaway Kitchens</h3>  
		  <p>
		    Click here to view the case study.
		  </p> 
		</span>
	  </div>

	  <div class="box" onclick="location.href='http://www.callawaykitchens.com/';" style="cursor: pointer;">
		<%= image_tag("portfolio/swanhomethumb.jpg") %><br/>
		<span class="caption scale-caption">  
		  <h3>Callaway Kitchens</h3>  
		  <p>
		    Click here to view the case study.
		  </p> 
		</span>
	  </div>  

    </div>
  </div>
</div>
