<% provide(:title, 'Portfolio') %>
<div class="tiled-image">
  <div class="container">
    <div class="portfolio-main">
<!--	  <div class="box" onclick="location.href='http://www.callawaykitchens.com/';" style="cursor: pointer;"> -->
		<div class="portfolio-item">  
		  <div class="box">	
			<%= image_tag("portfolio/sarlekshomethumb.jpg") %><br/>
			<span class="caption scale-caption">  
			  <h3>Sarleks</h3>  
			  <p>
			    Sarleks is a fashion venture with the intention of creating an online location for desiners to showcase their work. 
			  </p></br>
			  <p>
			  	A complex site with user authentication, social feeds, image uploading, voting and much more.
			  </p> 
			</span>
		  </div>
		</div>
        <div class="portfolio-item">  
		  <div class="box">
			<%= image_tag("portfolio/callawayhomethumb.jpg") %><br/>
			<span class="caption scale-caption">  
			  <h3>Callaway Kitchens</h3>  
			  <p>
			    Serving Kent and London for over almost 20 years, Callaway are a family run business - who go the extra mile to ensure that your bespoke kitchen or bedroom furniture is just the way you want it.
			  </p> 
			</span>
		  </div>
		</div>

        <div class="portfolio-item">  
		  <div class="box">
			<%= image_tag("portfolio/alpinehomethumb.jpg") %><br/>
			<span class="caption scale-caption">  
			  <h3>Alpine Home Improvements</h3>  
			  <p>
			    Alpine are a family owned local specialist company who have many years experience in delighting customers with outstanding products - all installed professionally and with no fuss or hassle.
			  </p> 
			</span>
		  </div>
		</div>

	    <div class="portfolio-item"> 
		  <div class="box">
			<%= image_tag("portfolio/dkihomethumb.jpg") %><br/>
			<span class="caption scale-caption">  
			  <h3>DKI Kitchens</h3>  
			  <p>
			    With over 40 years of combined design experience designing, supplying and fitting quality kitchens DKI will be able to give you the kitchen you desire. Designers, fitters and finishers work in harmony to create your perfect kitchen at a price that is right for you.
			  </p> 
			</span>
		  </div>	
		</div>

	    <div class="portfolio-item"> 
		  <div class="box">
			<%= image_tag("portfolio/campusboardinghomethumb.jpg") %><br/>
			<span class="caption scale-caption">  
			  <h3>CampusBoarding.com</h3>  
			  <p>
			    CampusBoarding.com is a leader in training articles for climbers looking to boost their strength and technique using the specialist tool.
			  </p> 
			</span>
		  </div>
		</div>

        <div class="portfolio-item"> 
		  <div class="box">
			<%= image_tag("portfolio/swanhomethumb.jpg") %><br/>
			<span class="caption scale-caption">  
			  <h3>Swan Restoration</h3>  
			  <p>
			    Swan Restoration was formed in 2005 with one aim - and that is to be run by Master Craftsmen who can provide the very best service possible at the best price in all aspects of stone repair and restoration and brickwork repair and restoration.
			  </p> 
			</span>
		  </div>  
		</div>
    </div>
  </div>
</div>
