<% provide(:title, 'Our Services') %>
<div class="tiled-image">
  <div class="container">
    <div class="content-box">
      <%= link_to image_tag("pencil.png", alt: "Design Service", size: "120x120"), "#" %>
      <%= link_to image_tag("html.png", alt: "Development Service", size: "120x120"), "#" %>
      <%= link_to image_tag("email.png", alt: "Email Service", size: "120x120"), "#" %>
      <%= link_to image_tag("heart.png", alt: "Support Service", size: "120x120"), "#" %>
      <%= link_to image_tag("graph.png", alt: "SEO and Marketing Service", size: "120x120"), "#" %>
      </br>
      <h1>Design</h1>
      <h1>Development</h1>
      <h1>Email</h1>
      <h1>Support</h1>
      <h1>SEO & Marketing</h1>
    </div>
  </div>
</div>
