<% provide(:title, "Sign in") %>
<div class="background-image">
  <div class="login-forms">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, "Email:", class: "form-label" %>
      <%= f.text_field :email, class: "form-input" %>
      </br>
      <%= f.label :password, "Password:", class: "form-label" %>
      <%= f.password_field :password, class: "form-input" %>
     
      <%= f.submit "Sign in", class: "button login-btn" %>
    
    <% end %>
  
  </div>  
</div>