<header>
  <div class="logo">
    <%= link_to image_tag("Shakin8logo500x222.png", alt: "Shakin8 main logo image link to home", size: "320x142"), root_path %>
  </div>
  <div class="navigation">
    <ul>
      <li><a><%= link_to "Services ", services_path %></a></li>
      <li><a>  | </a></li>
      <li><a><%= link_to "Portfolio ", portfolio_path %></a></li>
      <li><a>  | </a></li>
      <li><a><%= link_to "Contact ", contact_path %></a></li>
      <li><a>|</a></li>
      <% if signed_in? %>
        <li><a><%= link_to "My Account", current_user %></a></li>
      <% else %>
        <li><a><%= link_to "Login", signin_path %></a></li>
      <% end %>
    </ul>
  </div>
  <nav>
  </nav>  
</header>